body {
    font-family: Arial, sans-serif;
    color: white;
    padding: 20px;
    background-color: black;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: #008cff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #006dd1;
}

h1, h2 {
	text-align: center;
}

.search-container {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
}

.search-container input {
	margin: 0;
}

.main-container {
	display: flex;
	justify-content: center;
	gap: 50px;
	padding-bottom: 30px;
}

#listaCartas {
	display: flex;
	gap: 10px;
	flex-direction: column;
}

#card-container {
	display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 200px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}